*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:'Montserrat', sans-serif;
}

.barra-opaca {
    display: flex;
    justify-content: flex-end;
    align-items: center;
	position: fixed;
	inset: 0 0 auto 50px;
	height: var(--height-overlay);
	z-index: 10;
    height: 100px;
    background-color: #080B12;
    opacity: 95%;
}

.upgrade{
    padding: 10px 20px 10px 20px;
    border: 2px solid white;
    border-radius: 50px;
}

.upgrade a{
    text-decoration: none;
    color: white;
}

.barra-laterale {
    padding-right: 10px;
    padding-left: 10px;
	position: fixed;
	inset: 0 auto 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	width: 50px;
	z-index: 20;
    background-color: black;
}

.barra-laterale img{
    padding: 10px;
    display: flex;
    width: 50px;
    cursor: pointer;
}

#download{
    width: 45px;
}

#user{
    padding: 5px;
    background-color: lightgray;
    clip-path: circle();
}

.contenuto {
	position: fixed;
	inset: 100px 0 100px 50px;
    background-color: #141922;
    color: lightgray;
}

.testo-top{
    margin: 10px;
}

.testo-top span{
    padding: 3px;
}


.controlli {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
	position: fixed;
	inset: auto 0 0;
	height: 100px;
	z-index: 20;
    background-color: #282828;
}

.canzone{
    display: flex;
    padding: 10px;
    color: grey;
}

.canzone ul{
    padding: 5px;
    font-size: 10px;
}

#nome-canzone{
    font-size: 12px;
    color: white;
}
.canzone img{
    width: 50px;
}

.icone{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.controls{
    margin: 30px;
    width: 184px;
    color: white;
}

.durata{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.durata span{
    padding: 10px;
    font-size: 10px;
}

.barra{
    display: flex;
    align-items: center;
    background-color: #5A5A5A;
    width: 150px;
    height: 5px;
    border-radius: 20px;
}

.barra-grigia{
    width: 30px;
    height: 5px;
    background-color: lightgrey;
    border-radius: 20px;
}

.icone-controlli{
    display: flex;
    justify-content: space-between;
}

.volume{
    width: 184px;
    display: flex;
    align-items: center;
    color: white;
}

.icone-volume{
    display: flex;
    width: 70px;
    padding: 10px;
}

.icone-volume i{
    padding: 3px;
}

.barra-volume{
    margin-left: 20px;
    background-color: #5A5A5A;
    width: 50px;
    height: 5px;
    border-radius: 20px;
}

.barra-grigia-volume{
    width: 10px;
    height: 5px;
    background-color: lightgrey;
    border-radius: 20px;
}
